.window-mask{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.dialog-box{
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	position: fixed;
	border-radius: 10px;
	z-index: 100;
	background-color: #fff;
}
.dialog-footer{
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.dialog-footer input{
	width: 30%;
	margin: 0 10px;
	height: 36px;
	line-height: 36px;
}
.dialog-header{
	background-color: #e8e8e8;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.dialog-content{padding:0 10px;}
.dialog-close{
	position: absolute;
    right: 10px;
    top: 6px;
    font-size: 20px;
    color: #f00;
    cursor: pointer;
}

.dialog-box2{border:1px solid #44b549;}
.dialog-box2 .dialog-close{color: #44b549}