ul,li{list-style-type: none;margin: 0;padding: 0;}

.wrapper-accordion{
	width: 938px;
	height: 128px;
	border: 1px solid #d3d3d3;
	zoom: 1;
}
.wrapper-accordion:after{
	clear: both;
	display: block;
	content: '';
}
.wrapper-accordion li{
	width:156px;
	height:128px;
	overflow: hidden;
	float: left;
	position: relative;
	border-right: 1px dashed #cacaca;
	box-sizing: border-box;
}
.accordion-item{
	width:100%;
	height:100%;
	display: block;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
}
.wrapper-accordion li:last-child{
	border-right:none;
}
.accordion-item img{
	width:117px;
	height:72px;
	position: absolute;
	right: -15px;
	bottom: 0;
	z-index: 1;
}
.accordion-info{
	width:66%;
	height:100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	padding: 10px 8px;
	box-sizing: border-box;
}
.accordion-title,.accordion-text,.accordion-price{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	width:100%;
	margin: 0;
	padding: 0;
}
.accordion-title{
	font-weight: 600;
	font-size: 14px;
	color: #f62368;
	height: 22px;
	margin: 10px 0;
}
.accordion-text{
	color: #868686;
	font-size: 12px;
	height:22px;
	line-height: 22px;
}
.accordion-price{
	margin-top: 12px;
	font-size: 14px;
	color: #fa2a5d;
	font-style: italic;
}
.accordion-strong{
    font-size: 20px;
    font-family: Arial;
    padding-right: 2px;
}

.wrapper-accordion .accordion-show{
	width: 314px;
	height: 128px;
}
.accordion-show img{
	width: 195px;
	height: 120px;
	right:0;
}
.accordion-show .accordion-title{font-size:16px;}
.accordion-show .accordion-text{font-size:14px;}
.accordion-show .accordion-price{font-size:16px;}
.accordion-show .accordion-strong{font-size:24px;}
.accordion-mask{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
}
.wrapper-accordion:hover .accordion-mask{opacity: 0.15;}
.wrapper-accordion li.accordion-show:hover .accordion-mask{opacity: 0;}
.wrapper-accordion *{transition: all linear 0.15s;}