#loginBox{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
#loginWrapper{
    position: fixed;
    z-index: 11;
    background-color:#fff;
    width: 670px;
    height: 380px;
}
#loginClose{
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    border: 1px solid #ccc;
    background-color:#fff;
}
#loginClose:hover{color: #fff;background-color:#f00;}
#loginHeader{
    width: 100%;
    height: 52px;
    line-height: 52px;
    background-color:#e8e8e8;
    cursor:move;
    text-indent: 20px;
    letter-spacing: 6px;
    font-size: 20px;
}